<!--<div class="aboutDirection__row">
    <div class="aboutDirection__content">
        <div class="aboutDirection__check">
            <input type="checkbox">
        </div>
        <div class="aboutDirection__input">
            <input class="form-control form-control-sm" type="text" placeholder="" value="#scienintText#"
            >
        </div>
        <div class="aboutDirection__btn">
            <button type="button" class="btn btn-danger btn-sm">Удалить</button>
            <button type="button" class="btn btn-primary btn-sm">Сохранить</button>

        </div>
    </div>
</div>-->

<div class="aboutDirection__row">
    <div class="aboutDirection__content">
        <div class="aboutDirection__check">
            <input type="checkbox" class="directionCheck check" data='check#id#' #checked#>
        </div>
        <div class="aboutDirection__input">
            <input data='#id#' class="form-control form-control-sm directionText" type="text" placeholder="" value="#scienintText#">
        </div>
        <div class="aboutDirection__btn">
            <button data='del' data2='#id#' type="button" class="btn btn-danger btn-sm btnDelete" onclick="saved(this)">Удалить</button>
            <button data='sav' data2='#id#' type="button" class="btn btn-danger btn-sm btnsSave" onclick="saved(this)">Сохранить</button>

        </div>
    </div>
</div>