<section class="content">
    <div class="container">
        <div class="adminPanel__title">
            <h1>Админ панель </h1>
        </div>
        <div class="nav-tabs">
            <span href="#" data-tab="1" class="nav-tab active">Редактировать главную</span>
            <span href="#" data-tab="2" class="nav-tab">Все пользьватели</span>
            <span href="#" data-tab="3" class="nav-tab">Отчёты</span>
        </div>
        <div class="tab-content">
            <div data-tab-content="1" class="tab-pane active">
                <div class="adminPanel">

                    <!--<div class="editProject edit">
                        <div class="editProject__title">
                            <h3>О проекте</h3>
                        </div>
                        <div class="editProject__text">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Внесите изменения</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">#about#</textarea>
                            </div>
                        </div>
                        <div class="editProject__btn">
                            <button type="button" class="btn btn-success btn-lg btn-block">Сохранить</button>
                        </div>
                    </div>-->
                    <div class="editProject edit">
                        <div class="editProject__title">
                            <h3>О проекте</h3>
                        </div>
                        <div class="editProject__text">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Внесите изменения</label>
                                <textarea class="form-control txtArea" id="exampleFormControlTextarea1" rows="3">#about#</textarea>
                            </div>
                        </div>
                        <div class="editProject__btn">
                            <button data='about' type="button" class="btn btn-success btn-lg btn-block btnSend">Сохранить</button>
                        </div>
                    </div>



                    <!--<div class="editDirection edit">
                        <div class="editDirection__title">
                            <h3>О направлениях</h3>
                        </div>
                        <div class="editDirection__text">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Внесите изменения</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">#whom#</textarea>
                            </div>
                        </div>
                        <div class="editDirection__btn">
                            <button type="button" class="btn btn-success btn-lg btn-block">Сохранить</button>
                        </div>
                    </div>-->

                    <div class="editDirection edit">
                        <div class="editDirection__title">
                            <h3>О направлениях</h3>
                        </div>
                        <div class="editDirection__text">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Внесите изменения</label>
                                <textarea class="form-control txtArea2" id="exampleFormControlTextarea1" rows="3">#whom#</textarea>
                            </div>
                        </div>
                        <div class="editDirection__btn">
                            <button data='whom' type="button" class="btn btn-success btn-lg btn-block btnSend2">Сохранить</button>
                        </div>
                    </div>




                    <div class="aboutDirection">
                        <div class="aboutDirection__title">
                            <h3>Направления</h3>
                        </div>
                        #listScien#
                        <div class="empty"></div>
                        <div class="aboutDirection__row">
                            <div class="aboutDirection__content">
                                <div class="aboutDirection__check">
                                    <input data='checkNew' type="checkbox">
                                </div>
                                <div class="aboutDirection__input ">
                                    <input data='textNew' class="form-control form-control-sm " type="text" placeholder="" value="">
                                </div>
                                <div class="aboutDirection__btn">
                                    <button data='add' type="button" class="btn btn-success btn-sm" onclick="saved(this)">Добавить</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    #confList#
                </div>
            </div>
            <div data-tab-content="2" class="tab-pane">
                <div class="information">
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">Список</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="userList" value="option1" checked>
                                    <label class="form-check-label" for="userList">
                                        Список пользователей
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="userThesisList" value="option2">
                                    <label class="form-check-label" for="userThesisList">
                                        Список пользователей, подавших тезис
                                    </label>
                                </div>
                                <div class="form-check disabled">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="userDocList" value="option3">
                                    <label class="form-check-label" for="userDocList">
                                        Список пользователей (повышение квалификации)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="outInfo"></div>

<!--                    <div class="divColumn">-->
<!--                        <div class="divUp">-->
<!--                            <div class="divRow__left">-->
<!--                                <div class="left__photo">-->
<!--                                    <img src="https://avatars.mds.yandex.net/get-zen_doc/171120/pub_5c123aba2d9b8c00a9f1286a_5c12401e9e2fe500aaaded90/scale_1200">-->
<!--                                </div>-->
<!--                                <div class="left__info">-->
<!--                                    <p>ФИО</p>-->
<!--                                    <p>ФИО</p>-->
<!--                                    <p>ФИО</p>-->
<!--                                    <p>ФИО</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="divRow__right">-->
<!--                                <p>ФИО</p>-->
<!--                                <p>ФИО</p>-->
<!--                                <p>ФИО</p>-->
<!--                                <p>ФИО</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="divDown">-->
<!--                            <div class="divDown__title">-->
<!--                                Тезис титл-->
<!--                            </div>-->
<!--                            <div class="divDown__text">-->
<!--                                Тезис текс-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->


                    <script src="src/js/xhr6.js"></script>

                </div>
            </div>
            <div data-tab-content="3" class="tab-pane">

            </div>
        </div>
    </div>
</section>


<script>
    var tabNavs = document.querySelectorAll(".nav-tab");
    var tabPanes = document.querySelectorAll(".tab-pane");

    for (var i = 0; i < tabNavs.length; i++) {+

        tabNavs[i].addEventListener("click", function(e){
            e.preventDefault();
            var activeTabAttr = e.target.getAttribute("data-tab");

            for (var j = 0; j < tabNavs.length; j++) {
                var contentAttr = tabPanes[j].getAttribute("data-tab-content");

                if (activeTabAttr === contentAttr) {
                    tabNavs[j].classList.add("active");
                    tabNavs[j].classList.add("bold");
                    tabPanes[j].classList.add("active");
                } else {
                    tabNavs[j].classList.remove("active");
                    tabNavs[j].classList.remove("bold");
                    tabPanes[j].classList.remove("active");
                }
            };
        });
    }
</script>