<div class="editConference edit">
    <h3>Конференция</h3>
    <div class="editConference__row">
        <div class="editConference_year">
            <label for="">#year#</label>

        </div>
        <div class="editConference_start">
            <label for="">Начало конференции</label>
            <input type="date" class="form-control" value="#dateMain#">
        </div>
        <div class="editConference_start2">
            <label for="">Начало для студентов</label>
            <input type="date" class="form-control" value="#dateStud#">
        </div>
        <div class="aboutDirection__btn">
            <button type="button" class="btn btn-danger btn-sm">Удалить</button>
        </div>
    </div>
</div>