<section class="content">
    <h2 style="text-align: center">Archive 2020</h2>
    <h4 style="text-align: center"><a href="src/php/downloadToZip.php">Download all abstracts and projects</a></h4>
    <div class="container3">
        <div class="archive">
            <div class="archive__title">
            </div>
            <div class="archive__body">
                <div class="arhive__item">
                    <ol >
                        #listThesis#
                    </ol>
                </div>

            </div>
        </div>
    </div>
</section>