<section class="content">
    <div class="container">
        <div class="contact">
            <div class="contact__left">
                <div class="bigMap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2532.774796341015!2d36.574959315736564!3d50.59413897949538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41266af4d5136ee1%3A0x294f88203a5800f4!2z0YPQuy4g0J_QvtCx0LXQtNGLLCA4NSwg0JHQtdC70LPQvtGA0L7QtCwg0JHQtdC70LPQvtGA0L7QtNGB0LrQsNGPINC-0LHQuy4sIDMwODAxNQ!5e0!3m2!1sru!2sru!4v1602021003292!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="smallMap">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2532.774796341015!2d36.574959315736564!3d50.59413897949538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41266af4d5136ee1%3A0x294f88203a5800f4!2z0YPQuy4g0J_QvtCx0LXQtNGLLCA4NSwg0JHQtdC70LPQvtGA0L7QtCwg0JHQtdC70LPQvtGA0L7QtNGB0LrQsNGPINC-0LHQuy4sIDMwODAxNQ!5e0!3m2!1sru!2sru!4v1602021003292!5m2!1sru!2sru" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="contact__right">
                    <h2>Contact</h2>
                    <div class="contact__info">
                        <p>85 Pobedy str., Belgorod, 308015, Russia,</p>
                        <p>Federal state Autonomous educational institution of higher education</p>
                        <p>Belgorod state national research University (NRU "BelSU")</p>                        <p><b>Telephone:</b> (4722) 30-12-11</p>
                        <p><b>Fax: </b>(4722) 30-10-12, (4722) 30-12-13</p>
                        <p><b>E-mail:</b> belils@mail.ru</p>
                        <p><b>Web:</b> www.bsu.edu.ru</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>