<section class="content">
    <div class="container">
        <div class="conference">
            <div class="conference__title">
                <h4>INTERNATIONAL SCIENTIFIC AND PRACTICAL CONFERENCE ON TRAINING PERSONNEL FOR SCIENTIFIC SUPPORT OF THE AGRO-INDUSTRIAL COMPLEX, INCLUDING VETERINARY MEDICINE</h4>
            </div>
            <div class="conference__program">
                <h4>The End of Registration Counter</h4>
            </div>
            <div class="conferens__time">
                <div id="timer" style="font-size: 30px;" align="center">
                    <h1>
                        <span id="day">10</span>
                        <span>d.</span>
                        <span id="hour">1</span>
                        <span>h.</span>
                        <span id="minute">2</span>
                        <span>m.</span>
                        <span id="second">4</span>
                        <span>s.</span>
                    </h1>
                </div>
            </div>
            <div class="conferens__join">
                <button  type='button' class='btnNew2' onclick="document.location='#linkLocation#'">Participate</button>
            </div>
        </div>
    </div>
    <!-- <hr> -->
    <!-- <div class="container"> -->
    <div class="contest">
        <div class="contest__title">
            <h4>Name of student work competition</h4>
        </div>
        <div class="conferens__time">
            <div id="timer_s" style="font-size: 30px;" align="center">
                <h1>
                    <span id="day_s">13</span>
                    <span>d.</span>
                    <span id="hour_s">09</span>
                    <span>h.</span>
                    <span id="minute_s">17</span>
                    <span>m.</span>
                    <span id="second_s">4</span>
                    <span>s.</span>
                </h1>
            </div>
        </div>
        <div class="conferens__join" style="text-align: center">
            <button  type='button' class='btnNew2' onclick="document.location='#linkLocation#'">Participate</button>
            <button  type='button' class='btnNew2' onclick="document.location='src/php/download.php?filePath=src/data/docs/polozhenie_konkurs_stud_nauch_rabot_sent_2020_en.docx'">
                download the position</button>
        </div>
    </div>
    <!-- <hr>              -->
    <!-- </div> -->
    <div class="container">
        <div class="project">
            <div class="project__title centr">
                <h4>Conference project title</h4>
            </div>
            <div class="project__text">

                <b>The purpose of the project:</b> expanding the practice of scientific interaction within the scientific community on training personnel for the development of the agro-industrial complex, ensuring the professional growth of the event participants, attracting leading scientists, representatives of the research and development sector, agricultural business, federal, regional and municipal authorities, higher professional education, including young scientists and students  to the development of the agro-industrial complex in Russia and in the world.
                <br>
                <p style="margin-bottom: 0px"><b>Project objectives: </b>
                <ul>
                    <li>1)	Expansion of scientific cooperation and exchange of information on the results of research in various areas of the agro-industrial complex, including agrobiotechnology, agrobiophotonics, bioremediation, processing of agricultural products, as well as exchange of experience in the field of continuous agricultural education;</li>
                    <li>2)	Development of competencies, including those of the young researchers, necessary to implement the priorities of scientific and technological development of the agro-industrial complex;</li>
                    <li>3)	Development of internal Russian scientific communication, in particular communication between scientific, educational communities, representatives of public organizations, federal, regional and municipal authorities and other interested participants in the agro-industrial complex.</li>

                </ul></p>
            </div>
        </div>
    </div>
    <!-- <hr> -->
    <div class="who">
        <div class="container">
            <div class="who__title centr">
                <h4>Headline for whom</h4>
            </div>
            <div class="who__text">

                The international scientific and practical conference on training personnel for scientific support of agriculture, including veterinary medicine, is organized for leading scientists, representatives of the research and development sector, the commercial sector, and higher education, including young scientists and students.
                <!--An international scientific and practical conference on training personnel for scientific support of the agro-industrial complex, including veterinary medicine, is organized for leading scientists, representatives of the research and development sector, the commercial sector, higher education, including young scientists and students.-->
            </div>
        </div>
    </div>
    <!-- <hr> -->
    <div class="container">
        <div class="directions">
            <div class="directions__title centr">
                <h4>Heading about directions</h4>
            </div>
            <div class="directions__items">
                #scienInt#
            </div>

        </div>
    </div>

    <section class="content__org">
        <div class="container">
            <div class="org__title centr2">
                <h4>Expert heading</h4>
            </div>
            <!--<div class="orgs__column">-->
                #expertList#
            <!--</div>-->
        </div>

        <div class="container">
            <div class="title10">
                        <span>
                            <button class="btn100" onclick="document.location='experts.php'">Show all</button>
                        </span>
            </div>
        </div>


    </section>


</section>