<section class="content">
    <div class="container">

        <div class="login__row">
            <h3 style="text-align: center">Вход</h3>
            <form method="post" action="src/php/login.php?action=login" data-toggle="validator" role="form" class="was-validated">
                <div class="form-group">
                    <label for="inputName" class="control-label ">Логин</label>
                    <input name="login" type="text" class="form-control" id="login" placeholder="Введите логин" required>
                </div>

                <div class="form-group">
                    <label for="inputPassword" class="control-label">Введите пароль</label>

                    <div class="form-group">
                        <input name="userpass" type="password" data-minlength="2"
                               class="form-control" id="password" placeholder="Введите пароль" required>
                    </div>
                </div>
                <div class="form-group ">
                    <!--<button class="btn btn-outline-primary col-md-12"
                            id="btn10">Войти</button>-->
                    <input type="submit" value="Войти" class="btnNew col-md-12"
                           id="btn10">
                </div>

            </form>
        </div>
    </div>
</section>