<section class="personalArea__content">
    <div class="container">
        <div class="personalArea">
            <div class="personalArea__left">
                <div class="personalArea__up">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="#imgPath#" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">
                            <h2>Поменять фото</h2>
                                <form method="post" action="/src/php/setProfilePhoto.php" enctype="multipart/form-data">
                                    <input type="file" name="profilePhoto">
                                    <input type="submit" value="Загрузить фото">
                                </form>
                        </div>
                    </div>
                    <img src="" alt="">
                </div>
                <div class="personalArea__down">
                    <div class="card" style="width: 18rem;">
                        #thesisList#
                    </div>
                </div>
            </div>
            <div class="personalArea__right">
                АНКЕТА УЧАСТНИКА
                <div>
                    <p>Фамилия: #username#</p>
                    <p>Имя: #surname#</p>
                    <p>Дата: рождения #birthday#</p>
                    <p>Город: #city#</p>
                    <p>Организация: #organization#</p>
                    <p>Должность: #position#</p>
                    <p>Ученая степень: #degree#</p>
                    <p>E-mail: #email#</p>
                    <p>Телефон: #phone#</p>
                    <p><a href="personalArea.php?edit=1">Редактировать личные данные</a></p>
                </div>

                <h4>Повышение квалификации</h4>

                <!-- <img class="card-img-top" src="#imgPath#" alt="Card image cap"> -->
                #listCvalif#
                <h4>Загрузить документы</h4>
                <h5>Необходимые документы:</h5>
                <p>Скан паспорта;</p>
                <p>Диплом о ВО с приложениями;</p>
                <p>Заявлние.</p>
                <form method="post" action="/src/php/skillUp.php" enctype="multipart/form-data">
                    <input type="file" name="fileSkill[]" multiple>
                    <input class="btn" type="submit" value="Отправить">
                </form>
                </p>
            </div>
        </div>
        <div class="personalArea__link">
            <button type="button" class="btn btn-success btn-lg btn-block col-md-8" onclick=
                        "document.location='src/php/download.php?filePath=src/data/docs/Правила участия.docx'">Правила участия</button>
            <!-- <button type="button" class="btn btn-success btn-lg btn-block col-md-8">Скачать требовния ENG</button> -->
        </div>

        <div class="personalArea__timer">
            <div class='conferens__time'> 
                <div id="timer" style="font-size: 30px;" align="center">
                        <h4>До окончания регистрации</h4>
                      <h1>
                        <span id="day">10</span>
                        <span>д.</span>
                        <span id="hour">1</span>
                        <span>ч.</span>
                        <span id="minute">2</span>
                        <span>м.</span>
                        <span id="second">4</span>
                        <span>с.</span>
                      </h1>
                </div>
        </div>
        </div>
        <div class="personalArea__btn">
            <button type="button" class="btn btn-success btn-lg btn-block col-md-8 offset-2"  onclick="window.location.href = 'thesis.php';">Отправить тезис</button>
            <!-- <button type="button" class="btn btn-danger btn-lg btn-block col-md-8 offset-2">Отозвать участие</button> -->

        </div>

    </div>
</section>