<h3  style="text-align: center;margin-top: 10px">Регистрация</h3>
<section class="content__login">

    <div class="container">
        <form method="post" action="src/php/registration.php" data-toggle="validator" role="form" class="was-validated" oninput='up2.setCustomValidity(up2.value != password.value ? "Пароли не совпадают." : "")'>

            <div class="form-group">

                <label for="inputName" class="control-label">Фамилия</label>
                <input name='surname' type="text" class="form-control" id="surname" placeholder="Введите вашу фамилию"
                       required>
            </div>

            <div class="form-group">
                <label for="inputName" class="control-label">Имя</label>
                <input name='name' type="text" class="form-control" id="name" placeholder="Введите Ваше имя" required>
            </div>


            <div class="form-group ">
                <label for="example-date-input" class=" col-form-label">Дата рождения</label>
                <div class="">
                    <input name='brth' class="form-control" type="date" value="2011-08-19" id="brth">
                </div>
            </div>


            <div class="form-group">
                <label for="inputName" class="control-label">Страна</label>
                <input name='country' type="text" class="form-control" id="country" placeholder="Введите страну" required>
            </div>

            <div class="form-group">
                <label for="inputName" class="control-label">Город</label>
                <input name='city' type="text" class="form-control" id="city" placeholder="Введите город" required>
            </div>


            <div class="form-group">
                <label for="inputName" class="control-label">Организация</label>
                <input name='organization' type="text" class="form-control" id="organization" placeholder="Введите организацию"
                       required>
            </div>


            <div class="form-group">
                <label for="inputName" class="control-label">Должность</label>
                <!--<input name='position' type="text" class="form-control" id="position" placeholder="Введите должность" required>-->
                <select name="position" class="selectPicker form-control">
                    #optionPosition#
                </select>
            </div>

            <!--<div class="form-group">
                <label for="inputName" class="control-label">Область научных интересова</label>
                <input name='hobby' type="text" class="form-control" id="hobby"
                       placeholder="Введите область научных интересов" required>
            </div>-->


            <div class="form-group">
                <label for="inputName" class="control-label">Ученая степень</label>
                <input name='power' type="text" class="form-control" id="power" placeholder="Введите ученную степень"
                       required>
            </div>


            <div class="form-group">
                <label for="inputEmail" class="control-label">Ваш E-mail</label>
                <input name='email' type="email" class="form-control" id="email" placeholder="Email"
                       data-error="Вы не правильно ввели Ваш E-mail" required>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <label for="inputEmail" class="control-label">Контактный телефон</label>
                <input name='number' type="number" class="form-control" id="number" placeholder="89997773232"
                       data-error="Вы ввели неправльный телефон" required>
                <div class="help-block with-errors"></div>
            </div>



            <div class="form-group">
                <label for="inputName" class="control-label">Логин</label>
                <input name='login' type="text" class="form-control" id="login" placeholder="Введите логин" required>
            </div>

            <div class="form-group">
                <label for="inputPassword" class="control-label">Введите пароль</label>

                <div class="form-group">
                    <input class="form-control" id="password1" type=password placeholder="fsUUmd8-83JNj@" required name='password'>
                    <!-- <input type="password" data-toggle="validator" data-minlength="2"
                               class="form-control" id="password" placeholder="123456" required>
                    <span class="help-block">Минимум 6 значений</span> -->
                </div>
                <div class="form-group">
                    <!-- <input type="password" class="form-control" id="password2"
                               data-match="#password" data-match-error="Ошибка! Пароли не совпадают!"
                               placeholder="Повторите пароль" required> -->
                    <input class="form-control" id="password2" type=password required name=up2
                           data-match="#password" data-match-error="Ошибка! Пароли не совпадают!"
                           placeholder="Повторите пароль" required>

                    <div class="help-block with-errors"></div>
                </div>
                <!--<div class="form-group">
                    <input name='password' type="password" data-toggle="validator" data-minlength="2"
                           class="form-control" id="password" placeholder="123456" required>
                    <span class="help-block">Минимум 6 значений</span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password2"
                           data-match="#password" data-match-error="Ошибка! Пароли не совпадают!"
                           placeholder="Повторите пароль" required>
                    <div class="help-block with-errors"></div>
                </div>-->

            </div>


            <!--<div class="form-group">-->
                <!--<div class="checkbox">-->
                    <!--<label>-->
                        <!--<input type="checkbox" id="terms" data-error="Прежде чем оправить данные" required>-->
                        <!--Докажите что Вы человек-->
                    <!--</label>-->
                    <!--<div class="help-block with-errors"></div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group ">
                <button class="btnNew col-md-12" id="btn10">Зарегистрироваться</button>
            </div>

        </form>

    </div>
</section>