<div class="container bg">
    <div class="main__body">

        <div class="navbr">
            <ul class="navbr__ul">
               #menu#
            </ul>
        </div>


        <div id="btn__main">
            <button class=" btn1">Учавствовать</button>
        </div>


    </div>
    <div class="сcou">
        <p>Счетчик до окончания регистрации</p>
        <script src="//megatimer.ru/get/11a6cb2298b424f8c1937463b64aa580.js"></script>


    </div>

</div>