<div class="container bg">
    <div class="main__body">

        <div class="navbr">
            <ul class="navbr__ul">
                <li class="">
                    <a class="" href="http://projectnew/kabinet.php">Личный кабинет <span class="sr-only">(current)</span></a>
                </li>
                <li class="">
                    <a class="" href="#">О проекте <span class="sr-only">(current)</span></a>
                </li>
                <li class="">
                    <a class="" href="#">Партнеры <span class="sr-only">(current)</span></a>
                </li>
                <li class="">
                    <a class="" href="#">Контакты <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Архив
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>


        <div id="btn__main">
            <button class=" btn1">Учавствовать</button>
        </div>


    </div>
    <div class="сcou">
        <p>Счетчик до окончания регистрации</p>
        <script src="//megatimer.ru/get/11a6cb2298b424f8c1937463b64aa580.js"></script>


    </div>

</div>