<div class="wrapper">

    <div class="content">

        <div class="main">
            <!-- <div class="container_main"> -->

            <?php require "src/elements/header__kabinet.php"; ?>

            <p>Счетчик до окончания регистрации</p>
            <script src="//megatimer.ru/get/11a6cb2298b424f8c1937463b64aa580.js"></script>

            <hr>

            <!-- CONTENT -->
            <div class="container">
                <div class="lk__content">
                    <div class="main__up">
                        <div class="up__left">
                            <div class="lk__photo">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top"
                                         src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22285%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20285%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1748b38981e%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1748b38981e%22%3E%3Crect%20width%3D%22285%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22106.6953125%22%20y%3D%2296.375%22%3E285x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                         alt="Card image cap">
                                    <div class="card-body">
                                        <div id="btn__main">
                                            <button class="btn1">
                                                Учавствовать
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lk__conference">
                                <div class="card" style="width: 18rem;">
                                    <!-- <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22285%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20285%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1748b38981e%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1748b38981e%22%3E%3Crect%20width%3D%22285%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22106.6953125%22%20y%3D%2296.375%22%3E285x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap"> -->
                                    <div class="card-body">
                                        <h3>#listConfer#</h3>
                                        <!-- <a href="#" class="btn btn-primary">Переход куда-нибудь</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="up__right">
                            <div class="up__right_content">
                                <div>
                                    <p>Фамилия: #username#</p>
                                    <p>Имя #surname#</p>
                                    <p>Дата рождения #birthday#</p>
                                    <p>Город #city#</p>
                                    <p>Организация #organization#</p>
                                    <p>ПОзиция #position#</p>
                                    <p>Дегри #degree#</p>
                                    <p>E-mail #email#</p>
                                    <p>Телефон #phone#</p>
                                    <p>Ученная степень #scienint#</p>
                                </div>
                                <form method="post" action="personalArea.php?edit=1">
                                    <input type="submit" value="Редактирвать">
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="main__down">
                        <div class="сcou">

                            <br>
                            <div id="btn__main">
                                <button class="btn2">
                                    <a href="/tezis.php"> Отправить тезис </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <hr>
            <!-- MAIN -->
        </div>
        <!-- CONTENT -->
    </div>