<div class="container">
    <h3 style="text-align: center; margin-top: 20px; ">Изменения Даннных</h3>
    <div style="display: block" class="upinfo">
        <form method="post" action="/src/php/personalArea.php" data-toggle="validator" role="form">
            <input type="hidden" name="userid" value="#userid#">
            <div class="form-group">

                <label for="inputName" class="control-label">Фамилия</label>
                <input type="text" name="surname" class="form-control" id="surname" placeholder="Введите вашу фамилию" required value="#surname#">
            </div>
            <div class="form-group">
                <label for="inputName" class="control-label">Имя</label>
                <input type="text" name="username" class="form-control" id="name" placeholder="Ваше имя" required value="#username#">
            </div>

            <div class="form-group ">
                <label for="example-date-input" class=" col-form-label">Дата рождения</label>
                <div class="">
                    <input class="form-control" name="birthday" type="date" value="#birthday#" id="brth">
                </div>
            </div>

            <div class="form-group">
                <label for="inputName" class="control-label">Город</label>
                <input type="text" class="form-control" name="city" id="city" placeholder="Введите город" required value="#city#">
            </div>


            <div class="form-group">
                <label for="inputName" class="control-label">Организация</label>
                <input type="text" class="form-control" name="organization" id="organization" placeholder="Введите организацию" required value="#organization#">
            </div>


            <div class="form-group">
                <label for="inputName" class="control-label">Должность</label>
                <!--<input name='position' type="text" class="form-control" id="position" placeholder="Введите должность" required>-->
                <select name="position" class="selectPicker form-control">
                    #optionPosition#
                </select>
            </div>


            <div class="form-group">
                <label for="inputName" class="control-label">Ученая степень</label>
                <input type="text" class="form-control" name="power" id="power" placeholder="Введите ученную степень" required value="#degree#">
            </div>


            <div class="form-group">
                <label for="inputEmail" class="control-label">Ваш E-mail</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                       data-error="Вы не правильно ввели Ваш E-mail" required value="#email#">
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <label for="inputEmail" class="control-label">Контактный телефон</label>
                <input type="number" class="form-control" name="number" id="number" placeholder="8-800-555-35-35"
                       data-error="Вы ввели неправльный телефон" required value = "#phone#">
                <div class="help-block with-errors"></div>
            </div>

            <!--        <div class="form-group">-->
            <!--            <div class="checkbox">-->
            <!--                <label>-->
            <!--                    <input type="checkbox" id="terms" data-error="Прежде чем оправить данные" required>-->
            <!--                    Докажите что Вы человек-->
            <!--                </label>-->
            <!--                <div class="help-block with-errors"></div>-->
            <!--            </div>-->
            <!--        </div>-->


            <div class="form-group ">
                <button type="submit" class="btnNew col-md-12 " id="btn10">Отправить</button>
            </div>
        </form>
    </div>
</div>