
/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
/* h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;} */
/*--------------------*/



html, body{
    /* overflow: hidden; */
    min-height: 100%;
    font-size: 20px;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";;
}

p{
    font-size: 20px;
}
.wrapper{
display: flex;
flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.container {
    max-width: 1254px;
    margin: 0 auto;
   
}

.container_main{
    max-width: 1400px;
    margin: 0 auto;
}

.container_form{
    background: rgb(255, 255, 255);
    margin-top: 50px;
    padding: 20px;
    border:1px solid rgb(177, 177, 177);
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    max-width: 800px;
    margin: 0 auto;
    padding-left: 100px;
}

.main{
    width: 100%;
    
    /* background:#a48ee9; */
}

.main__body{
display: flex;
flex-direction: column;

}

.btn1{
    /* width: 400px; */
}

/* .menu a{
color: black;

}


.menu li{
    padding-left: 200px;
} */



.navbr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 20px;
    border-radius:2px;
  
}

.navbr__ul{
    margin-left: 20px;
    margin-right: 20px;
    color:black;
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;

    border-radius:3px;


}

.navbr__ul li a{
color:black;
flex:1 1 auto;
/* border-bottom:1px solid #007bff;; */
border-bottom: 1px solid hsl(260deg 90% 77%);
  border-radius:3px;

}

.name{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* .join{
    background: #000;
    margin-bottom: 10px;
    background-color: #fff;
    background-clip: border-box;
   
} */

/* .counet{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 30px;
    background: #2195f37e;
    border-radius:4%;
  
    text-align: center;
}
     */

.сcou{
    margin-top: 50px;
} 

.project__body{
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}

.whom__body{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


.directions__items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1;
    margin: 0 -10px;
}

.item{
    flex: 1 1 50%;
    margin-bottom: 40px;
    align-items: center;
    padding: 0 10px;
}


.expert__body{
display: flex;
flex-direction: column;
}

.expert__items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  
 
}

.expert_item{
    flex: 1 0 25%;
    margin-bottom: 40px;
    padding: 0 10px;

}

.item__photo img{
width: 70%;
height: auto;
}

footer{
    background: hsl(260deg 90% 77%);
    /* background:hsla(0, 0%, 85%, 0.357); */
    display: flex;
    /* border:1px solid #007bff5b; */
    border-radius:10px;
}

.footer__body{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
    margin-top: 50px;

    /* border-bottom:1px solid #007bff5b; */

}

.footer__left{
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:stretch;
 


}
    .cont{
        flex: 1 1 50%;
        text-align: center;
    }

    .cont_cont{
        margin-bottom: 60px;
    }

.footer__right{
    display: flex;
    align-items:center;
    justify-content: center;
}

.qr{
 
}
.qr img{
    width: 270px;
    height: auto;
}





/* Личный кабинет */

.lk__content{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
    
.main__up{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.up__left{
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    border-radius:15px;
    /* border:1px solid #007bff5b; */
    margin-right: 20px;
    padding: 10px;
    
}


.lk__photo{
margin-bottom: 20px;
}

.lk__conference{

}

.up__right{

display: flex;
justify-content:center;
align-items:center;

border:1px solid rgb(216, 215, 215);
border-radius: 10px;



/* background: #000;
margin-bottom: 10px;
background-color: #fff;
background-clip: border-box; */
}

.cont_cont{
margin-bottom: 100px;
}

.up__right_content{

}

.main__down{

}


.nav__lk{
 
}


/* //////////////МЕНЮ/////////////////////////////// */

    ul {
        display: flex;
      }
      ul li {
        list-style: none;
      }
      ul li a {
        position: relative;
        display: block;
        margin: 0 10px;
        padding: 5px 10px;
        color: #aaa;
        font-size: 24px;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s;
        overflow: hidden;
      }
      ul li a::before {
        content: '';
        position: absolute;
        top: calc(50% - 2px);
        left: -100%;
        width: 100%;
        height: 4px;
        /* background: #2196f3; */
        background: hsl(260deg 90% 77%);;
        transition: 0.5s;
      }
      ul li a:hover {
        /* color: #fff; */
        color:black;
      }
      ul li a:hover::before {
        animation: animate .1s linear forwards; 
      }
      
      @keyframes animate {
        0% {
          top: calc(50% - 2px);
          left: -100%;
          height: 4px;
          z-index: 1;
        }
        50% {
          top: calc(50% - 2px);
          left: 0;
          height: 4px;
          z-index: 1;
        }
        100% {
          top: 0;
          left: 0;
          height: 100%;
          z-index: -1;
        }
      }




/* /////////////////КНОПКА//////////////////////////// */

.btn__main{

}

.btn1{
    padding: 2px;
    /* color:black; */
    font-size:20px;
    /* background: #2196f3; */
    background: white;
    cursor:pointer;
    /* border:1px solid #2196f3; */
    border:1px solid hsl(260deg 90% 77%);
    border-radius:4px;
    width:160px;
    height:50px;
    text-align:center;
    -webkit-transform:translate(-50%,-100%);
    transform:translate(0%,0%);
     -webkit-transition:all .6s ease-in-out;
    transition:all .6s ease-in-out;
   overflow:hidden;
   color: black(255, 0, 0);
   font-size: 24px;
  }
  
  
  .btn1::before{
    content:'';
    position:absolute;
    top:-130px;
    margin:auto;
    display:block;
    border-radius:50%;
    width:300px;
    height:300px;
    left:-75px;
    -webkit-transition:box-shadow .6s ease-in-out;
    transition:box-shadow .6s ease-in-out;
    z-index:-1;
   
  }
  
  
  .btn1:hover{
    color:rgb(253, 253, 253);
  }
  
  
  .btn1:hover::before{
    /* box-shadow:inset 0 0 0 160px #f321ec8c; */
       box-shadow:inset 0 0 0 160px hsl(260deg 90% 77%);
  }

  .btn2{
    padding: 2px;
    /* color:black; */
    font-size:20px;
    /* background: #2196f3; */
    background: white;
    cursor:pointer;
    /* border:1px solid #2196f3; */
    border:1px solid hsl(260deg 90% 77%);
    border-radius:4px;
    width:360px;
    height:50px;
    text-align:center;
    -webkit-transform:translate(-50%,-100%);
    transform:translate(0%,0%);
     -webkit-transition:all .6s ease-in-out;
    transition:all .6s ease-in-out;
   overflow:hidden;
   color: black(255, 0, 0);
   font-size: 24px;
  }

  .btn2 a{
      color:black;
      text-decoration:none;
  }
  .btn2 a:hover{
    color:black;
}


  .btn2::before{

   
  }
  
  
  .btn2:hover{
    color:black(255, 20, 20);
    background:hsl(260deg 90% 77%);
  }

  
  .btn2:hover::before{
    /* box-shadow:inset 0 0 0 160px #f321ec8c; */
       box-shadow:inset 0 0 0 160px hsl(260deg 90% 77%);
  }

/* ///////////////////////////////////////////// */


/* ///////////////////////////////////////////// */





@media screen and (max-width:997px){
    .navbr{
      
        display: flex;
        flex-direction: row;
     
    }
    
    .navbr__ul{
        display: flex;
        flex-direction: column;
    }
    
    .navbr__ul li {
        background: rgba(250, 250, 250, 0.124);
        margin-top: 10px;
    }


    /* ///////////// */

.expert__body{
    display: flex;
    flex-direction: column;
    }
    
    .expert__items{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      
     
    }
    
    .expert_item{
        flex: 1 0 50%;
        margin-bottom: 40px;
        padding: 0 10px;
    
    }
    
    .item__photo img{
    width: 70%;
    height: auto;
    }


}




@media screen and (max-width:772px){

    .footer{
        display: flex;
        
    }
    
    .footer__body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 50px;
    
    }
    
    .footer__left{
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
     
    
    
    }
        .cont{
            flex: 1 1 50%;
            text-align: center;
        }
    
        .cont_cont{
            margin-bottom: 20px;
        }
    
    .footer__right{
        display: flex;
        align-items:center;
        justify-content: center;
    }
    
    .qr{
     
    }
    .qr img{
        width: 270px;
        height: auto;
    }
    

}






/* //////////// */

.modal {
    width: 100%;


    position: fixed;
    /* height: 1000px; */
    max-height: 100%;
	z-index: 1;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: scroll;
	background-color: rgba(0, 0, 0, 0.5);
    display: none;

}

.modal_content {
    width: 60%;
    height:auto;
    position: absolute;
    left: 20%;
    right: 20px;
	top: 20px;
	bottom: 20px;
	
    overflow-y: auto;
    overflow-x: hidden;
	background-color: #fff;
   
    /* padding-left: 100px; */
    /* width:  700px; */
}

.close {
	position: absolute;
	right: 10px;
	top: 10px;
}


.bg{
    /* border:1px solid #007bff5b; */
    border-radius:10px;
    padding-bottom:20px;
    /* //Убрать */
}

.forma_tez{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
  
    /* border:1px solid black; */
    

}

.tez{

    width: 800px;
    display: flex;
    flex-direction: column;
    align-items:center;

    padding-left: 100px;
}

/* .x{
    display: flex;
    justify-content: center;
} */

/* .tez__1{
    margin-left: 200px;
    display: flex;
    flex-direction: column;
} */


/* .cent{
    display: flex;
    flex-direction: row;
}
 */



.vvv{
    display: flex;
    flex-direction: row;
    justify-content: center;  

}

