
/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
/* h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;} */
/*--------------------*/


.smallMap{
    display: none;
}

.backg{
    background-color: #dce6db;
    color: #447d44;
    font-weight: 600;
}

html, body{
    /* overflow: hidden; */
    height: 100%;
    font-size: 20px;
    /*font-family: Arial;*/
}


.wrapper{
    display: flex;
    flex-direction: column;
    font-family: muller;
    height: 100%;
    /* max-width: 1500px; */
    margin: 0 auto;
    /* padding: 0 20px; */

}

.container{
    /* text-align: center; */
    max-width: 1254px;
    margin: 0 auto;
}

.container2{
    max-width: 1254px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items:center;
    /* background: #f8f9fa; */
    margin-bottom: 20px;
}

.slider{
    /* background: #000; */

}

/* ШАПКА */
.header {
    display: flex;
    flex-direction: column;

}
.header__banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    /* удалить что вниз не ехало */
}
.banner__left {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    justify-content: center;
}

.banner__img{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.logo1{
    flex: 0 1 33%;
    /*display: flex;*/
    /* justify-content: center; */
}

.logo1 img{
    max-width:70%;
    height: auto
}
.logo2{
    flex: 0 1 33%;
}
.logo2 img{
    max-width:80%;
    height: auto;
}

.logo3{
    flex: 0 1 20%;
    justify-content: end;

}
.logo3 img{
    max-width:65%;
    height: 200px
}

.banner__img img{
    width:100%;
    height: auto;
}

.banner__right {
    display: flex;
    align-items: center;
}
.rus {
    text-align: center;
    width: 100px;
    margin-right: 5%;
    border:1px solid black;
    padding: 7px;
}
.ENG {
    text-align: center;
    width: 100px;
    border:1px solid black;
    padding: 7px;
}
.header__menu {
}

.block{
    display: flex;
    justify-content: space-around;

}

.block ul li{
    margin-right: 30px;
}
/*  */

/* КОНТЕНТ */
.content{
    flex: 1 1 auto;
    margin-top: 20px;

}

.btn1{
    width: 700px;
}


/*  */
.conference {
    display: flex;
    flex-direction: column;
    align-items:center;

}
.conference__title {
    text-align: center;
    margin-bottom: 30px;
}
.conference__title h4{
    line-height: 1.2;
}
.conference__program {

}
.conferens__join {
    margin-bottom: 15px;
}
.conferens__time {
    margin-bottom: 15px;
}


/*  */
.contest {
    display: flex;
    flex-direction: column;
    align-items:center;
    /* background: #dce6db; */

    padding: 30px 0px;
}
.contest__title {
    margin-bottom: 15px;
}
.conferens__join {
    margin-bottom: 15px;
}
.conferens__time {
    margin-bottom: 15px;
}
/*  */
.project {
    display: flex;
    flex-direction: column;
    align-items:center;
}
.project__title {
}

.project__text {
    text-indent: 65px;
}
.project__text p{
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
}

.project__text p:last-child{
    line-height: 0.1;
}

.project__text ul{


}

.project__text ul li{
    text-decoration: none;
    line-height: 1.5;
    text-align: justify;
    margin-top: 7px;
}

/*  */

.who {
    display: flex;
    flex-direction: column;
    align-items:center;
    /* background-color: #dce6db; */
    margin-bottom: 20px;
}
.who .container {
}
.who__title {
}
.who__text {
    text-indent: 65px;
}

.who__text p{
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
}


/*  */

.directions {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 20px;
}
.centr {
    width: 100%;
    display: inline-block;
    background: #dce6db;
    text-align: center;
    border:2px solid white;
    border-radius:10px  ;
}
.centr2{
    width: 100%;
    display: inline-block;
    background: #dce6db;
    text-align: center;
    margin-bottom: 20px;
    border:2px solid white;
    border-radius:10px  ;
}
.directions__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;

}

.directions__item {
    display: flex;
    justify-content: center;
    /* align-items:center; */
    flex: 0 1 48%;
    border:2px outset #dce6db;
    border-radius:14px;
    padding: 10px;
    margin-left: 2%;
    margin-top: 10px;
    align-items:center;

    min-height: 100px;

}

.directions__item:last-child {
    display: flex;
    justify-content: center;
    /* align-items:center; */
    flex: 0 1 100%;
    border:2px outset #dce6db;
    border-radius:14px;
    padding: 10px;
    margin-left: 2%;
    margin-top: 10px;
    align-items:center;

    min-height: 100px;

}

.directions__item p {
    text-align:center;
    line-height: 1.1;

}


/*  */
.parther {

    display: flex;
    display: none;
    flex-direction: column;
    align-items:center;
    margin-bottom: 40px;
    justify-content: center;
}
.parther__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}
.parther__item {
    flex: 0 1 33%;
    text-align: center;

}
.parther__item img {
    width: 200px;

}


/*  */
.experts {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 20px;
}
.experts__title {
    margin-bottom: 20px;
}
.experts__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;


}
.experts__item {
    min-width: 350px;
    height: 440px;
    overflow: hidden;
    flex: 1 1 33%;
    text-align: center;
    margin-bottom: 20px;

    position: relative;

}
.experts__item img {
    /* max-width: 300px;
    height: 300px; */
    width: 80%;
    height: 80%;
    object-fit: cover;
    object-position: center;

}

.experts__item p{
    margin-bottom: 0px;

}


/* ПОДВАЛ */
.footer {

    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    background-color: #dce6db;

}
.footer__left {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    justify-content: center;
    align-items: center;
}

.footer__left p {
    font-size: 15px;
    margin-bottom: 5px;
}

.footerLeft__title {
    text-align: center;

}
.footerLeft__info {
    padding-left: 16%;
    line-height: 1.1;
    width: 60%;
    text-align: start;
    /* letter-spacing: unset; */
}
.footer__right {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex: 0 1 50%;
    /* justify-content: stretch; */


}
.footerRight__title {
    text-align: center;
}
.footerRight__info {

}
.footer__qr{

}
.footer__qr img{
    /* width: 80%;
    height: auto; */
    width: 200px;
}





/* Defines the width of the carousel and centers it on the page
.slick-carousel {
  margin: 0 auto;
  width: 700px;
}


.slick-slide {

  width: 350px;
}


.slick-next{

}
.slick-next::before, .slick-prev::before {

  background: rgb(0, 0, 0);
  width: 100px;
} */




/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}


/* конкретный слайдер */
.slider{
    position: relative;
    z-index: 1;
    width: 900px;

}

.favorite__column{
    opacity: 0.9;

}

.favorite__column.slick-center{
    opacity: 1;
}

.slider .slick-arrow{
    position: absolute;
    top:50%;
    z-index: 2;
    font-size: 0;
    width: 30px;
    height: 50px;

}

.slider .slick-arrow.slick-prev{
    left: 0;
    background: url('/image/iconfinder_icon-ios7-arrow-back_211686.png') 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next{
    right: 0;
    background: url('/image/iconfinder_icon-ios7-arrow-forward_211688.png') 0 0/100% no-repeat;
}

.slider img{
    width: 200px;
    height: 200px;


}

.slick-slide{

}



/* /////////////////////////////////////////////////////// */




/* ДРУГИЕ СТРАНИЦЫ */

.content__login h3{
    text-align: center;
    width: 500px;
}

.content__thesis{
    text-align: center;
}



.thesis__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
}
.thesis__btn {
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}

.vvv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    text-align: center;
}

.formaa{
    /* margin-left: 30%; */
    /* border:1px solid rgba(199, 199, 199, 0.624);
    border-radius: 1%;
    box-shadow: black; */
}

.content__org {
    margin-top: 40px;
    margin-bottom: 40px;


}
.container {
}

.org__title{
    text-align: center;
}
.org__row {
    text-align: center;
    /* max-width: 900px; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
    /* align-items:center; */
    /*border:2px outset rgba(208, 208, 208, 0.645);*/
    /* padding: 20px; */
    /*border-radius: 50%;*/
    /*background: #dce6db;*/


    /* margin: 0px -15px; */
    margin-bottom: 20px;
    padding: 10px 0px;

}
.org__photo
{
    flex: 0 0 33.333%;
    position: relative;
    min-height: 355px;
    /*margin-left: 10%;*/
    max-width: 300px;
}

.org__photo img {
    width: 100%;
    height: 100%;
    object-fit:cover ;
    position: absolute;
    border-radius: 5px;
    /*border: 1px solid #447d44;*/
    top: 0;
    left: 0;
}
.org__info {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    justify-content: center;
    padding:0px 20px;
    /* border:1px solid black; */
    border-radius:3px;

}

.org__info p{
    font-size: 20px;
}


/*

.personalArea__content {
    margin-top: 40px;
    margin-bottom: 40px;
}

.personalArea {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.personalArea__left {
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:space-around;


}
.personalArea__up {
    text-align: center;
}
.personalArea__down {
    text-align: center;
}
.personalArea__right {
    flex: 1 1 80%;
    border:1px solid black;
    margin-left: 50px;
    padding-left: 5%;
    padding-top: 5%;
    justify-content:center;

}


.personalArea__link {
    margin-top: 40px;
    margin-bottom: 40px;
}

.personalArea__timer{
    margin-bottom: 40px;
}
.personalArea__btn{

}
*/



.personalArea {
    display: flex;
    flex-direction: column;
}
.personalArea__timer {
    flex: 1 1 100%;
    margin-bottom: 30px;
}
.personalArea__content {
    flex: 1 1 100%;
    display: flex;
    margin-bottom: 20px;

    margin: 0px -10px;

    margin-bottom: 20px;



}
.personalArea__left {
    flex: 1 1 40%;

    /*border:2px solid #dce6db;*/
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    /* padding: 0px 10px; */
    margin: 0px 10px;
    /* border:1px solid black; */

}
.personalArea__photo {
    flex: 1 1 100%;
    display: flex;
    position: relative;
    min-height: 350px;

    /*
                border-top:1px solid rgba(0, 0, 0, 0.234);
                border-left:1px solid rgba(0, 0, 0, 0.234);
                border-right:1px solid rgba(0, 0, 0, 0.234); */

    /* margin-bottom: 20px; */
}
.personalArea__photo img {
    width: 100%;
    height: 100%;
    object-fit:cover ;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 14px;
}

.personalArea__edit{
    flex: 1 1 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;

    /* border-left:1px solid rgba(0, 0, 0, 0.234);
    border-right:1px solid rgba(0, 0, 0, 0.234);
    border-bottom:1px solid rgba(0, 0, 0, 0.234); */

    /*margin-bottom: 20px;*/
}


.edit__upload{
    margin-bottom:5px;
}

.personalArea__btn {
    flex: 1 1 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* border:1px solid black; */
}

.persArea_courseBtn{
    margin-bottom: 5px;
}

.persArea_thesisBtn{

}

.personalArea_riht {
    padding-top: 20px;
    flex: 1 1 60%;
    border:2px solid #dce6db;
    border-radius: 14px;
    margin: 0px 10px;
}


.persArea_course {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    flex: 1 1 100%;
    /* justify-content: center; */
    border:2px solid #dce6db;
    border-radius: 14px;
    margin-bottom: 20px;
    height: auto;

    padding: 20px;
    /* background-color: #dce6db; */


}


.course__left{
    order: 2;

    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    margin-left: 40px;
}
.course__title {
    /* text-align: center; */
    margin-bottom: 5%;
}
.course__text {
    display: flex;
    flex-direction: column;
    /* align-self: center; */


}

.course__text p{
    /* margin-bottom: 10px; */

}
.course__text ul{
    /* margin-top: 5%; */
    font-size: 20px;
    font-weight: 700;
}
.course__text ul li {
    padding-left: 5%;


}
.course__text ul li::before {
    content:url('https://img.icons8.com/fluent-systems-regular/48/000000/check-document.png');
    position: relative;
    top: 10px;
}

.course__right{
    order: 1;
    display: flex;
    flex-direction: column;
    /* align-items:center; */
    flex: 1 1 50%;
}

.anketa__title {
    text-align: center;
}
.anketa__body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;

}

.anketa__body p{
    margin-bottom: 2%;

}

.anketa__body a{
    text-align: center;

}


/* .course__doc ul li::before{
    width: 10px;
    height: 10px;
    content: url('https://img.icons8.com/offices/30/000000/delete-sign.png') ;
    position: relative;
    top: 7px;
    padding-right: 3%;
} */

.course__load{
    text-align: center;
}

.course__upload{
    display: flex;
    flex: 0 1 15%;
}

.course__doc{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.ic{
    padding-right: 20px;
}
.ic:focus{
    display: none;
}
/* .course__title{
    flex: 1 1 100%;
    text-align: center;
}
.course__info {
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;

}
.course__info p{
   margin-bottom: 5px;

}
.course__info ul li {
    padding-left: 10%;

}
.course__info ul li::before {
   content:"- ";
   flex: 0 1 50%;
}

.course__save{
    display: flex;
} */




.persArea_thesis {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    justify-content: center;
    /* border:1px solid rgba(0, 0, 0, 0.234); */
    margin-bottom: 20px;
    height: auto;
    /* background-color: #dce6db; */
}



.thesis__title {
    text-align: center;
}
.thesis__row {
    border:2px solid #dce6db;
    border-radius: 14px;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;

}
.thesis__info {
    padding: 2%;
    display: flex;

}
.thesisi__btn {
}
.thesisi__dowland {
}
.col-md-12 {
}
.btn {
}
.btn-outline-dark {
}
.btn-block {
}
.thesisi__delete {
}


.adminPanel {
    display: flex;
    flex-direction: column;
    justify-content:center;

}



.adminPanel__title {
    text-align: center;
}
.editProject {
    margin-bottom: 40px;
}
.edit {
}
.editProject__title {
}
.editProject__text {
}
.form-group {
}
.form-control {
}
.editProject__btn {
    text-align: center;
}

.editDirection{
    margin-bottom: 40px;
    /*display: flex;*/

}

.aboutDirection {

    display: flex;
    flex-direction: column;
}
.aboutDirection__title {

}
.aboutDirection__content {
    margin-bottom: 40px;

    display: flex;
    /*flex-direction: column;*/
    margin-bottom: 20px;
    /* justify-content:space-between; */

}
/* .aboutDirection__row{
    display: flex;

} */
.aboutDirection__check {
}
.aboutDirection__input {
    flex: 0 1 50%;
    margin-left: 15%;
}

.aboutDirection__input2{
    flex: 0 1 50%;
    /* margin-right: 10%; */
}
.aboutDirection__btn {
    margin-left: 5%;
}
.btn {
}
.btn-primary {
}
.btn-sm {
}


input[type=checkbox] {
    width: 20px;
    height: 20px;
}


.editConference {
}
.edit {
}
.editConference__row {
    margin-bottom: 40px;

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
}
.editConference_year {
    flex: 0 1 auto;
}
.editConference_start {
}
.editConference_start2 {
}
.aboutDirection__btn {
}
.btn {
}
.btn-danger {
}
.btn-sm {
}


.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;


}

.contact p {
    font-size: 20px;
    margin-bottom: 0px;
    line-height: 1.9;
}
.contact h2 {
    text-align: center;
}
.contact__left {
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
    align-items:center;

}
.contact__right {
    flex: 1 1 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contact__info{
    padding-left: 20%;
}







.archive {
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.archive__title {
    text-align: center;
}

.archive__row {
    display: flex;
    justify-content: space-between;
    /* flex: 1 1 auto; */

}

.archive__column{
    flex:0 0 10%;
    justify-content: space-between;
}

.archive__column1{
    flex: 0 1 2%;
}

.archive__column2{
    flex: 0 1 25%;
}


.archive__content {
}




.container {
}
.exp__title {
    text-align: center;
}
.exp__row {
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 0 -30px;
}
.exp__left {

    flex: 0 1 40%;
    padding: 0 30px;
    display: flex;
    justify-content: start;
}
.exp__right {
    flex: 1 1 50%;
}

.exp__left img{
    width: 200px;
    height: 150px;
}

.title10 {
    /* Чтобы спрятать часть линий, которые
    ** будут вылазить за пределы блока */
    overflow: hidden;
    /* Выравнивание заголовка по центру,
    ** можно использовать left, right */
    text-align: center;
    /* Тут можно добавить другие стили для заголовка */
    font-size: 20px;
}
.title10 span {
    /* Стили тега обертки для заголовков
    ** в несколько строк */
    display: inline-block;
    vertical-align: middle;
}
.title10:before,
.title10:after {
    /* Обязательно указываем пустое свойство content,
    ** иначе псевдоэлементы не появятся на сайте */
    content: "";
    /* Указываем что наши линии будут строчно-блочные и
    ** выравнивание по высоте - по центру */
    display: inline-block;
    vertical-align: middle;
    /* Задаем ширину 100% и выбираем высоту линии,
    ** в нашем примере она равна 4 пикселям */
    width: 100%;
    height: 2px;
    /* Добавляем цвет для линии */
    background-color: #dce6db;
    /* Добавляем пседоэлемантам возможность изменить
    ** позицию линии, для создания отступов от текста */
    position: relative;
}
.title10:before {
    /* Смещаем левую линию на 100% влево, чтобы линия
    ** встала рядом с текстом слева */
    margin-left: -100%;
    /* Указываем в пикселях отступ линии от текста заголовка */
    left: 5px;
}
.title10:after {
    /* Смещаем правую линию на 100% вправо, чтобы
    ** линия встала рядом с текстом справа */
    margin-right: -100%;
    /* Указываем в пикселях отступ линии от текста заголовка */
    right: 5px;
}

.btn100{
    background: white;
    border-radius:9px;
    /* border:2px solid #447d44; */
    padding: 8px;
    font-size: 12px;
    text-transform: uppercase;
    /*font-weight: 700;*/
    color: #447d44;



}

.btn100:focus{
    outline: 0;
}

.btn100:hover{
    outline: 0;
    background: #447d44;
    color: #ffffff;
}

.navbar-nav{
    text-align: center;
}

.btnNew {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    font-size: 20px;
    padding: 5px;
    width: 100%;
    border-color: #447d47;
    border-width: 1px;
    border-style: solid;
    color: #447d47;
    background-color: #ffffff;
    border-radius: 6px;
}

.btnNew:hover {
    border-color: #447d47;
    color: #ffffff;
    background-color: #447d47;
}

.btnNew:focus {
    outline: none;
    box-shadow: 0 0 0 4px #dce6db;
}

.btnNew2{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    font-size: 20px;
    padding: 5px;
    width: 500px;
    border-color: #447d47;
    border-width: 1px;
    border-style: solid;
    color: #447d47;
    background-color: #ffffff;
    border-radius: 6px;
}

.btnNew2:hover {
    border-color: #447d47;
    color: #ffffff;
    background-color: #447d47;
}

.btnNew2:focus {
    outline: none;
    box-shadow: 0 0 0 4px #dce6db;
}



.archive {
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.archive__title {
    text-align: center;
}
.archive__body{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.arhive__item{

    display: flex;
}

.archive__item ol li::marker{
    margin-left: 30px;
}

.container3{
    padding-left: 40px;
    max-width: 1254px;
    margin: 0 auto;
    /* background: #dce6db; */
    border:1px solid #dce6db;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    align-items:center;
    /* background: #f8f9fa; */

    margin-bottom: 20px;
}
.ols{

}

.btnOut{
    margin-top: 5px;
}

.show{
    display: block;
}

.hide{
    display: none;
    /* visibility: hidden; */
}

.edit__upload{
    margin-top: 5px;
}

.edit__upload2{
    margin-bottom: 5px;
}



.login__row{
    margin-top: 3%;

    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
}

hr{
    background-color: #dce6db;
}


/*.orgs__column{*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
/*}*/

@media (max-width: 996px) {
    .contact {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 15px;


    }

    .contact p {
        font-size: 20px;
        margin-bottom: 0px;
        line-height: 1.9;
    }
    .contact h2 {
        text-align: center;
    }
    .contact__left {
        flex: 1 1 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;

    }
    .contact__right {
        flex: 1 1 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .contact__info{
        padding-left: 20%;
    }
}

@media (max-width: 1200px) {

    .content__org h1{
        font-size: 35px;
    }

    /* ПОДВАЛ */
    .footer {

        /*display: flex;*/
        /*justify-content: space-between;*/
        /*padding: 20px 0px;*/
        /*background-color: #dce6db;*/

    }
    .footer__left {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
        justify-content: center;
        align-items: center;
    }

    .footer__left p {
        /*font-size: 15px;*/
        /*margin-bottom: 5px;*/
    }

    .footerLeft__title {
        /*text-align: center;*/

    }
    .footerLeft__info {
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
        padding-left: 10%;

    }
    .footer__right {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        flex: 0 1 20%;
        /* justify-content: stretch; */
        padding-right: 10%;
    }
    .footerRight__title {
        /*text-align: center;*/
    }
    .footerRight__info {

    }
    .footer__qr{

    }
    .footer__qr img{
        width: 180px;
    }
}

/*//////////////////////////////////////////////////////////////*/

    @media (max-width: 767px) {

        .wrapper{
            /*font-size: 15px;*/
        }

        .footer p {
            font-size: 13px;
        }

        .org__row h3{
            font-size: 25px;
        }
        .org__row p{
            /*font-size: 20px;*/
        }

        .footerLeft__title h3 {
            font-size: 30px;

        }
        org__title centr2 h4{
            font-size: 25px;
        }
        .conference h4{
            font-size: 25px;
        }
        .project h4{
            font-size: 25px;
        }
        .who h4{
            font-size: 25px;
        }
        .directions h4{
            font-size: 25px;
        }


        .header {
            display: flex;
            flex-direction: column;

        }
        .header__banner {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 20px;
            /* удалить что вниз не ехало */
        }
        .banner__left {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex: 1 1 100%;
            justify-content: center;
        }

        .banner__img{
            padding-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items:center;
        }

        .logo1{
            flex: 0 1 33%;
            /*display: flex;*/
            /* justify-content: center; */
        }

        .logo1 img{
            max-width:100%;
            height: auto
        }
        .logo2{
            flex: 1 1 33%;
        }
        .logo2 img{
            max-width:100%;
            height: auto;
        }

        .logo3{
            flex: 0 1 20%;
            justify-content: end;

        }
        .logo3 img{
            max-width:100%;
            height: 200px
        }

        .banner__img img{
            width:100%;
            height: auto;
        }





        .directions {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 20px;
        }
        .centr {
            flex: 1 1 100%;
        }
        .centr2{

        }
        .directions__items {
            flex: 1 1 100%;
            display: flex;
            flex-direction: column;
            /*flex-wrap: wrap;*/

        }
        .

        .directions__item {
            flex: 1 1 100%;

        }

        .directions__item:last-child {

        }

        .directions__item p {


        }

        .org__row{
            display: flex;
            flex-direction: column;
            justify-content: center;


        }

        .org__photo{
            flex: 1 1 100%;
            display: flex;
            flex-direction: row;
            /*justify-content: center;*/
            /*align-items: center;*/

            position: relative;
            min-height: 250px;
             margin-left: 20%;
            max-width: 60%;
        }

        .org__photo img{
            width: 100%;
            height: 100%;
            object-fit:cover ;
            position: absolute;
            border-radius: 5px;
            /*border: 1px solid #447d44;*/

        }



        /*/////////////lichKABINET*/

        .course__left {
            order: 2;
            display: flex;
            flex-direction: column;
            flex: 1 1 50%;
             margin-left: 0px;
        }

        .personalArea__content {

            display: flex;
            flex-direction: column;
        }
        .course__text h5{
            text-align: center;
        }
            .persArea_course{
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .course__title{
            text-align: center}

        .course__doc {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }





    }

/*/////////////////////////////////////////////////////////////////////*/
@media (max-width: 700px) {
    .footer {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 0px;
        background-color: #dce6db;

    }
    .footer__left {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .footer__left p {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .footerLeft__title {
        flex: 1 1 100%;
        /*flex: 1 1 auto;*/
        /*display: flex;*/
        /*text-align: center;*/

    }
    .footerLeft__info {
        flex:0 1 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
        text-align:center;

    }
    .footer__right {
        flex: 1 1 100%;
        padding-right:0px
    }
    .footerRight__title {
        text-align: center;
    }
    .footerRight__info {

    }
    .footer__qr{

    }
    .footer__qr img{

        width: 170px;
    }


    .personalArea__photo img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0%;
        left: 0%;
        border-radius: 14px;
    }
    .personalArea__photo{
    min-height: 300px;
        width: 300px;
    }
}

/*///////////////////*/
@media (max-width: 518px) {

    .personalArea__timer h1{
        font-size: 35px;
    }

    .btnNew2{
        width: 300px;
    }

    .conferens__time h1{
        font-size: 35px;
    }

    .conference__program h4{
        font-size: 20px;

    }
    .conference__title h4{
        font-size: 20px;

    }

    .contact__info{
        text-align: center;
        padding-left: 0px;
    }

    .smallMap{
        display: block;
    }

    .bigMap{
        display: none;
    }


    .rowww{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: baseline;
    }

    .roww{
     display: flex;
        flex-direction: row;
        justify-content: start;
    }
}



.nav-tabs{
    display: flex;
    flex-direction: column;

}
.nav-tab{
    font-size: 20px;
    margin-right: 5px;
    padding: 1px 40px;
    border: 2px solid#eeeeee;
    border-bottom: 0;
    text-decoration: none;
    border-radius: 13px 13px 0px 0px;
}


.nav-tab a{
    color: #447d44;
}

.nav-tab.active{
    background: #dce6db;
    cursor: default;

}
.tab-content{
    font-size: 20px;
    background: #dce6db;
    margin-bottom: 20px;
}
.tab-pane{
    display: none;
    padding: 30px;
}
.tab-pane.active{
    display: flex;
    min-height: 400px;
}


.bold{
    font-weight:bold;
}


.divColumn{
    display: flex;
    flex-direction: column;
}

.divUp{
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
}

.divRow__left{
    flex: 0 1 45%;
    display: flex;
    flex-direction: row;
}

.divRow__left p{
    margin-bottom: 5px;
}

.left__photo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0 1 30%;
    margin-right: 10px;
}

.left__photo img{
    max-width: 170px;
    max-height: 170px;
}

.left__info{
    flex: 0 1 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divRow__right{
    flex: 0 1 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divRow__right p{
    margin-bottom: 5px;
}



