    <footer class="footer">
        <div class="footer__left">
            <div class="footerLeft__title">
                <h3>Контакты</h3>
            </div>
            <div class="footerLeft__info">
                <p><b>Россия, 308015, г. Белгород, ул. Победы, 85,</b></p>
                <p>федеральное государственное автономное образовательное учреждение высшего образования
                    «Белгородский государственный национальный исследовательский университет» (НИУ «БелГУ»)</p>
                <p><b>Тел:</b> (4722) 30-12-11</p>
                <p><b>Факс:</b> (4722) 30-10-12, (4722) 30-12-13</p>
                <p><b>E-mail:</b> belils@mail.ru</p>
                <p><b>Web:</b> www.bsu.edu.ru</p>
            </div>
        </div>
        <div class="footer__right">
            <div class="footerRight__info">
                <div class="footer__qr">
                    <img src="src/data/img/qr.jpg" alt="">
                </div>
            </div>
        </div>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
