<div class="wrapper">
    <div class="header">
        <div class="container">
            <div class="header__banner">
                <div class="banner__left">
                    <div class="banner__img">
                        <div class="logo1">
                            <img src="src/data/img/logo1.png" alt="">
                        </div>
                        <div class="logo2">
                            <img src="src/data/img/logo2.jpg" alt="">
                        </div>
                        <div class="logo3">
                            <img src="src/data/img/logo3.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="banner__right" style="display: none;">
                    <div class="rus">
                        RUS
                    </div>
                    <div class="ENG">
                        ENG
                    </div>
                </div>
            </div>
        </div>
        <div class="header__menu">
            <nav class="navbar navbar-expand-lg navbar-light backg">
                <!-- <a class="navbar-brand" href="#">Главная</a> -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse block" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        #menu#
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Архив
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                #archive#
                            </div>
                        </li>
                        #login#
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">#username#</a>
                        </li>
                        <li class="nav-item">
                            #lang#
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>