<section class="content">
    <div class="container">
        <div class="conference">
            <div class="conference__title">
                <h4>МЕЖДУНАРОДНАЯ НАУЧНО-ПРАКТИЧЕСКАЯ КОНФЕРЕНЦИЯ ПО ВОПРОСАМ ПОДГОТОВКИ КАДРОВ ДЛЯ НАУЧНОГО ОБЕСПЕЧЕНИЯ АПК, ВКЛЮЧАЯ ВЕТЕРИНАРИЮ</h4>
            </div>
            <div class="conference__program">
                <h4>До окончания регистрации</h4>
            </div>
            <div class="conferens__time">
                <div id="timer" style="font-size: 30px;" align="center">
                    <h1>
                        <span id="day">10</span>
                        <span>д.</span>
                        <span id="hour">1</span>
                        <span>ч.</span>
                        <span id="minute">2</span>
                        <span>м.</span>
                        <span id="second">4</span>
                        <span>с.</span>
                    </h1>
                </div>
            </div>
            <div class="conferens__join">
                <button  type='button' class='btnNew2' onclick="document.location='#linkLocation#'">Участовать</button>
            </div>
        </div>
    </div>
    <!-- <hr> -->
    <!-- <div class="container"> -->
    <div class="contest">
        <div class="contest__title">
            <h4>Конкурс студенческих научных работ</h4>
        </div>
        <div class="conferens__time">
            <div id="timer_s" style="font-size: 30px;" align="center">
                <h1>
                    <span id="day_s">13</span>
                    <span>д.</span>
                    <span id="hour_s">09</span>
                    <span>ч.</span>
                    <span id="minute_s">17</span>
                    <span>м.</span>
                    <span id="second_s">4</span>
                    <span>с.</span>
                </h1>
            </div>
        </div>
        <div class="conferens__join" style="text-align: center">
            <button  type='button' class='btnNew2' onclick="document.location='#linkLocation#'">Участовать</button>
            <button  type='button' class='btnNew2' onclick="document.location='src/php/download.php?filePath=src/data/docs/polozhenie_konkurs_stud_nauch_rabot_sent_2020.docx'">Скачать положение</button>
        </div>
    </div>
    <!-- <hr>              -->
    <!-- </div> -->
    <div class="container">
        <div class="project">
            <div class="project__title centr">
                <h4>О проекте</h4>
            </div>
            <div class="project__text">
               #about#
            </div>
        </div>
    </div>
    <!-- <hr> -->
    <div class="who">
        <div class="container">
            <div class="who__title centr">
                <h4>Для кого</h4>
            </div>
            <div class="who__text">
                #whom#
            </div>
        </div>
    </div>
    <!-- <hr> -->
    <div class="container">
        <div class="directions">
            <div class="directions__title centr">
                <h4>О направлениях</h4>
            </div>
            <div class="directions__items">
                #scienInt#
            </div>

        </div>
    </div>

    <section class="content__org">
        <div class="container">
            <div class="org__title centr2">
                <h4>Наши эксперты</h4>
            </div>
            <!--<div class="orgs__column">-->
                #expertList#
            <!--</div>-->
        </div>

        <div class="container">
            <div class="title10">
                        <span>
                            <button class="btn100" onclick="document.location='experts.php'">Показать всех</button>
                        </span>
            </div>
        </div>


    </section>


</section>