<section class="content">
    <div class="container">
        <div class="personalArea">
            <div class="personalArea__timer">
                <div id="timer" style="font-size: 30px;" align="center">
                    <h4>До окончания регистрации</h4>
                    <h1>
                        <span id="day">10</span>
                        <span>д.</span>
                        <span id="hour">1</span>
                        <span>ч.</span>
                        <span id="minute">2</span>
                        <span>м.</span>
                        <span id="second">4</span>
                        <span>с.</span>
                    </h1>
                </div>
            </div>
            <div class="personalArea__content">
                <div class="personalArea__left">
                    <div class="personalArea__photo">
                        <div class="personal__img">
                            <img src="#imgPath#" alt="">
                        </div>
                    </div>
                    <div class="personalArea__edit hide">
                        <form method="post" action="/src/php/setProfilePhoto.php" enctype="multipart/form-data">
                            <div class="custom-file ">
                                <input type="file" name="profilePhoto" class="custom-file-input" id="validatedCustomFile" required>
                                <label class="custom-file-label" for="validatedCustomFile">Выберите файл</label>
                                <div class="invalid-feedback">Example invalid custom file feedback</div>
                            </div>
                            <div class="edit__upload">
                                <input type="submit" class=" col-md-12 btnNew btnOut" value="Загрузить фото">
                            </div>
                        </form>

                    </div>
                    <div class="personalArea__btn">
                        <div class="edit__upload2">
                            <button type="button" class=" col-md-12 btn btn-dark btn-block uodatePhoto">Изменить фото</button>
                        </div>
                        <div class="persArea_courseBtn">
                            <button type="button" class=" col-md-12 btnNew" onclick=
                                    "document.location='src/php/download.php?filePath=src/data/docs/pryavila.docx'">Правила</button>
                            <button type="button" class=" col-md-12 btnNew" onclick=
                                    "document.location='src/php/download.php?filePath=src/data/docs/prilozhenie.zip'">Приложения к конкурсу студенческих работ</button>
                        </div>
                        <div class="persArea_thesisBtn">
                            #submitThesis#
                        </div>
                        <script>
                            let photoBtn = document.querySelector('.uodatePhoto');
                            photoBtn.onclick = ()=>{
                                console.log('Нажал');
                                let photoEdit = document.querySelector('.personalArea__edit');
                                let hidenbtn = document.querySelector('.edit__upload2');
                                console.log(hidenbtn);
                                photoEdit.classList.remove('hide');
                                hidenbtn.classList.add('hide');

                            };
                        </script>
                        <!--<div class="persArea_courseBtn">
                            <button type="button" class=" col-md-12 btnNew" onclick=
                                    "document.location='src/php/download.php?filePath=src/data/docs/pryavila.docx'">Правила</button>
                        </div>
                        <div class="persArea_thesisBtn">
                            <button type="button" class=" col-md-12 btnNew" onclick="window.location.href = 'thesis.php';">Подать тезис</button>
                        </div>-->
                    </div>
                </div>
                <div class="personalArea_riht">
                    <div class="anketa__title">
                        <h4><img src="https://img.icons8.com/cotton/64/000000/check-document.png"/>Анкета участника</h4>

                    </div>
                    <div class="anketa__body">
                        <p><b>Фамилия:</b> #username#</p>
                        <p><b>Имя:</b> #surname#</p>
                        <p><b>Дата рождения:</b> #birthday#</p>
                        <p><b>Город:</b> #city#</p>
                        <p><b>Организация:</b> #organization#</p>
                        <p><b>Должность:</b> #position#</p>
                        <p><b>Ученая степень:</b> #degree#</p>
                        <p><b>E-mail:</b> #email#</p>
                        <p><b>Телефон:</b> #phone#</p>
                        <button type="button" class=" col-md-12 btnNew" onclick="window.location.href = 'personalArea.php?edit=1';">Редактировать личные данные</button>
                    </div>
                </div>
            </div>
            <div class="persArea_course">
                <div class="course__left">
                    <div class="course__title">
                        <h4>Курсы повышения кваллификации</h4>
                    </div>
                    <div class="course__text">
                        <h5>Необходимые документы:</h5>
                        <ul>
                            <li>Скан паспорта;</li>
                            <li>Диплом ВО с приложениями;</li>
                            <li><a href="src/php/download.php?filePath=src/data/docs/zayavlenie.docx">Заявление(скачать)</a></li>
                        </ul>
                    </div>
                </div>

                <div class="course__right">
                    <div class="course__load">
                        <h4>Загрузить документы</h4>
                    </div>
                    <form method="post" action="/src/php/skillUp.php" enctype="multipart/form-data">
                        <div class="custom-file">
                            <input type="file" name="fileSkill[]" multiple class="custom-file-input" id="validatedCustomFile" required>
                            <label class="custom-file-label" for="validatedCustomFile">Выберите файлы</label>
                            <div class="invalid-feedback">Example invalid custom file feedback</div>
                        </div>
                        <div class="course__upload">
                            <input class="col-md-12 btnNew btnOut" type="submit" value="Загрузить файлы">
                        </div>
                    </form>
                    <div class="course__doc">
                        <h5>Загруженные документы:</h5>
                        <ul>
                            #listCvalif#
                        </ul>
                    </div>
                </div>
            </div>
            <div class="persArea_thesis">
                <div class="thesis__title">
                    <h4>Мои тезисы</h4>
                </div>
                #thesisList#
            </div>
        </div>
    </div>
</section>