
/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
/* h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;} */
/*--------------------*/



html, body{
    /* overflow: hidden; */
    height: 100%;
    font-size: 20px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";;
}


.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;

}

.container{
    /* text-align: center; */
    max-width: 1254px;
    margin: 0 auto;
}

.container2{
    max-width: 1254px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items:center;
    background: #f8f9fa;
    margin-bottom: 20px;
}

.slider{
    /* background: #000; */

}

/* ШАПКА */
.header {
    display: flex;
    flex-direction: column;

}
.header__banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    /* удалить что вниз не ехало */
}
.banner__left {
    flex: 1 1 auto;
}

.banner__img img{
    width:40%;
    height: auto;
}

.banner__right {
    display: flex;
    align-items: center;
}
.rus {
    text-align: center;
    width: 100px;
    margin-right: 5%;
    border:1px solid black;
    padding: 7px;
}
.ENG {
    text-align: center;
    width: 100px;
    border:1px solid black;
    padding: 7px;
}
.header__menu {
}

.block{
    display: flex;
    justify-content: space-around;

}

.block ul li{
    margin-right: 30px;
}
/*  */

/* КОНТЕНТ */
.content{
    flex: 1 1 auto;
    margin-top: 20px;

}

.btn1{
    width: 500px;
}


/*  */
.conference {
    display: flex;
    flex-direction: column;
    align-items:center;

}
.conference__title {
    margin-bottom: 15px;
}
.conference__program {
    margin-bottom: 15px;
}
.conferens__join {
    margin-bottom: 15px;
}
.conferens__time {
    margin-bottom: 15px;
}


/*  */
.contest {
    display: flex;
    flex-direction: column;
    align-items:center;
    background: #f8f9fa;
    margin-bottom: 20px;
}
.contest__title {
    margin-bottom: 15px;
}
.conferens__join {
    margin-bottom: 15px;
}
.conferens__time {
    margin-bottom: 15px;
}
/*  */
.project {
    display: flex;
    flex-direction: column;
    align-items:center;
}
.project__title {
}

.project__text {
}
/*  */

.who {
    display: flex;
    flex-direction: column;
    align-items:center;
    background: #f8f9fa;
    margin-bottom: 20px;
}
.who .container {
}
.who__title {
}
.who__text {
}


/*  */

.directions {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 20px;
}
.directions__title {
}
.directions__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.directions__item {
    display: flex;
    justify-content: center;
    /* align-items:center; */
    flex: 0 1 48%;
    border:1px solid black;
    padding: 10px;
    margin-left: 2%;
    margin-top: 10px;

}

/*  */
.parther {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 40px;
    justify-content: center;
}
.parther__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}
.parther__item {
    flex: 0 1 33%;
    text-align: center;

}
.parther__item img {
    width: 200px;

}


/*  */
.experts {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 20px;
}
.experts__title {
}
.experts__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;


}
.experts__item {
    min-width: 350px;
    height: 440px;
    overflow: hidden;
    flex: 1 1 33%;
    text-align: center;
    margin-bottom: 20px;

    position: relative;

}
.experts__item img {
    /* max-width: 300px;
    height: 300px; */
    width: 80%;
    height: 80%;
    object-fit: cover;
    object-position: center;

}

.experts__item p{
    margin-bottom: 0px;
}


/* ПОДВАЛ */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;

}
.footer__left {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    justify-content: center;
    align-items: center;
}

.footer__left p {
    font-size: 15px;
    margin-bottom: 5px;
}

.footerLeft__title {
    text-align: center;

}
.footerLeft__info {
    padding-left: 16%;
}
.footer__right {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 0 1 50%;
    /* justify-content: stretch; */


}
.footerRight__title {
    text-align: center;
}
.footerRight__info {

}
.footer__qr{

}
.footer__qr img{
    /* width: 80%;
    height: auto; */
    width: 250px;
}





/* Defines the width of the carousel and centers it on the page
.slick-carousel {
  margin: 0 auto;
  width: 700px;
}


.slick-slide {

  width: 350px;
}


.slick-next{

}
.slick-next::before, .slick-prev::before {

  background: rgb(0, 0, 0);
  width: 100px;
} */




/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}


/* конкретный слайдер */
.slider{
    position: relative;
    z-index: 1;
    width: 900px;

}

.favorite__column{
    opacity: 0.9;

}

.favorite__column.slick-center{
    opacity: 1;
}

.slider .slick-arrow{
    position: absolute;
    top:50%;
    z-index: 2;
    font-size: 0;
    width: 30px;
    height: 50px;

}

.slider .slick-arrow.slick-prev{
    left: 0;
    background: url('/image/iconfinder_icon-ios7-arrow-back_211686.png') 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next{
    right: 0;
    background: url('/image/iconfinder_icon-ios7-arrow-forward_211688.png') 0 0/100% no-repeat;
}

.slider img{
    width: 200px;
    height: 200px;


}

.slick-slide{

}



/* /////////////////////////////////////////////////////// */




/* ДРУГИЕ СТРАНИЦЫ */

.content__login h3{
    text-align: center;
    width: 500px;
}

.content__thesis{
    text-align: center;
}



.thesis__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
}
.thesis__btn {
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}

.vvv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    text-align: center;
}

.formaa{
    /* margin-left: 30%; */
    /* border:1px solid rgba(199, 199, 199, 0.624);
    border-radius: 1%;
    box-shadow: black; */
}

.content__org {
    margin-top: 40px;
    margin-bottom: 40px;


}
.container {
}
.org__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
    /* align-items:center; */
    border:1px solid rgb(208, 208, 208);
    padding: 20px;
    background: #f8f9fa!important;


    margin: 0px -15px;
    margin-bottom: 20px;
}
.org__photo
{
    flex: 0 0 33.333%;
    position: relative;
    min-height: 350px;


}

.org__photo img {
    width: 100%;
    height: 100%;
    object-fit:cover ;
    position: absolute;
    top: 0;
    left: 0;
}
.org__info {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    justify-content: center;
    padding:0px 20px;
    /* border:1px solid black; */
    border-radius:3px;

}

.org__info p{
    font-size: 25px;
}



.personalArea__content {
    margin-top: 40px;
    margin-bottom: 40px;
}

.personalArea {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.personalArea__left {
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:space-around;


}
.personalArea__up {
    text-align: center;
}
.personalArea__down {
    text-align: center;
}
.personalArea__right {
    flex: 1 1 80%;
    border:1px solid black;
    margin-left: 50px;
    padding-left: 5%;
    padding-top: 5%;
    justify-content:center;

}


.personalArea__link {
    margin-top: 40px;
    margin-bottom: 40px;
}

.personalArea__timer{
    margin-bottom: 40px;
}
.personalArea__btn{

}




.adminPanel {
    display: flex;
    flex-direction: column;
    justify-content:center;

}



.adminPanel__title {
    text-align: center;
}
.editProject {
    margin-bottom: 40px;
}
.edit {
}
.editProject__title {
}
.editProject__text {
}
.form-group {
}
.form-control {
}
.editProject__btn {
    text-align: center;
}

.editDirection{
    margin-bottom: 40px;
}

.aboutDirection {

    display: flex;
    flex-direction: column;
}
.aboutDirection__title {

}
.aboutDirection__content {
    margin-bottom: 40px;

    display: flex;
    margin-bottom: 20px;
    /* justify-content:space-between; */

}
/* .aboutDirection__row{
    display: flex;

} */
.aboutDirection__check {
}
.aboutDirection__input {
    flex: 0 1 50%;
    margin-left: 15%;
}

.aboutDirection__input2{
    flex: 0 1 50%;
    /* margin-right: 10%; */
}
.aboutDirection__btn {
    margin-left: 15%;
}
.btn {
}
.btn-primary {
}
.btn-sm {
}


input[type=checkbox] {
    width: 20px;
    height: 20px;
}


.editConference {
}
.edit {
}
.editConference__row {
    margin-bottom: 40px;

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
}
.editConference_year {
    flex: 0 1 auto;
}
.editConference_start {
}
.editConference_start2 {
}
.aboutDirection__btn {
}
.btn {
}
.btn-danger {
}
.btn-sm {
}



.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 -50px;

}

.contact p {
    font-size: 20px;
    margin-bottom: 20px;
}
.contact h2 {
    text-align: center;
}
.contact__left {
    flex: 1 1 20%;

}
.contact__right {
    flex: 1 1 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
}






.archive {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.archive__title {
    text-align: center;
}

.archive__row {
    display: flex;
    justify-content: space-between;
    /* flex: 1 1 auto; */

}

.archive__column{
    flex:0 0 10%;
    justify-content: space-between;
}

.archive__column1{
    flex: 0 1 2%;
}

.archive__column2{
    flex: 0 1 25%;
}


.archive__content {
}