<section class="content">

    <div class="container">
        <div class="thesis__content">
            <div class="thesis__btn">
                <button id="och" type="button" class="btnNew col-lg-3 col-md-3 col-sm-4 ">Очное</button>
                <button id="zaoch" type="button"
                        class="btnNew col-lg-3  col-md-3 col-sm-4 ml-3">Заочное</button>
            </div>
            <div class="vvv" style="display: none">
                <h3>Очное</h3>
                <form method="post" action="/src/php/saveThesis.php" enctype="multipart/form-data" id="formaa" class="formaa">
                    <input type="hidden" name="thesisType" value="1">
                    <input type="hidden" name="thesisForm" value="#thesisForm#">
                    <div class="form-group  col-md-12  rowww  ">
                        <div class="form-check form-check-inline">

                        </div>
                        <div class="form-check form-check-inline row roww">
                            <label class="form-check-label mr-2" for="inlineCheckbox2">Кофе брейк</label>
                            <input name="checkbox1" id="checkbox1" class="form-check-input " type="checkbox" value="Кофе брейк">
                        </div>
                        <div class="form-check form-check-inline  roww">
                            <label class="form-check-label mr-2" for="inlineCheckbox2">Обед</label>
                            <input name="checkbox2" id="checkbox2" class="form-check-input" type="checkbox" value="Обед">
                        </div>
                        <div class="form-check form-check-inline roww">
                            <label class="form-check-label mr-2" for="inlineCheckbox2">Ужин</label>
                            <input name="checkbox3" id="checkbox3" class="form-check-input" type="checkbox" value="Ужин">
                        </div>
                    </div>
                    <div class="form-group  col-md-8 col-md-4 col-lg-8 offset-lg-2 offset-md-2">
                        <label for="example-date-input" class=" col-form-label">Дата заезда</label>
                        <div class="">
                            <input name="data1"  class="form-control " type="date" value="2011-08-19" id="data1">
                        </div>
                    </div>
                    <div class="form-group  col-md-12 ">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label  mr-2" for="inlineCheckbox1">Трансфер</label></label>
                            <div class="form-check form-check-inline">
                                <input  class="form-check-input" type="radio" name="r1" id="inlineRadio1" value="1" required>
                                <label class="form-check-label" for="inlineRadio1">Да</label>


                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="r1" id="inlineRadio2" value="0">
                                <label class="form-check-label" for="inlineRadio2">Нет</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputName" class="control-label">Область научных интересов</label>
                        <select id="scienint" name="scienint" class="selectPicker form-control">
                            #optionScienint#
                        </select>
                    </div>

                    <div class="form-group  col-md-12 ">
                        <button type="button" class="btnNew">Выбрать гостиницу</button>
                    </div>

                     <div class="form-group  col-md-12 ">
                      <input id='xxx' type="file" name="fileThesis[]" multiple>
                    </div>


                    <!--<div class="custom-file col-md-8">-->
                        <!--<input type="file" name="fileThesis" class="custom-file-input" id="customFile">-->
                        <!--<label class="custom-file-label" for="customFile">Выбрать файл</label>-->
                    <!--</div>-->

                    <!--<br>  <br>-->

                    <div class="form-group  col-md-12 ">
                        <!-- <input id="btn15" type="button" name="send" value="Отправить"> -->
                        <button  type="submit" name="send" class="btnNew">Отправить</button>
                    </div>
                </form>
            </div>
            <div class="vvv2" style="display: none">
                <form method="post" action="/src/php/saveThesis.php" enctype="multipart/form-data" id="formaa" class="formaa">
                    <input type="hidden" name="thesisType" value="2">
                    <input type="hidden" name="thesisForm" value="#thesisForm#">

                    <h3>Заочное</h3>
                        <div class="custom-file col-md-8">
                            <input name = "fileThesis[]" type="file" class="custom-file-input" id="customFile" multiple>
                            <label class="custom-file-label" for="customFile">Выбрать файл</label>
                        </div>
                        <br>

                        <div class="form-group">
                            <label for="inputName" class="control-label">Область научных интересов</label>
                            <select name="scienint" class="selectPicker form-control">
                                #optionScienint#
                            </select>
                        </div>
                        <br>
                        <div id="btn__main">
                            <!--<button id="btn15" type="submit" name="send" class="btn btn-outline-success">Отправить тезис</button>-->
                            <button  type="submit" name="send" class="btnNew">Отправить</button>
                        </div>
                </form>
            </div>
        </div>
    </div>

    <div id="info"></div>
</section>

<script>
    /////////////////////////////////////////////////
    function send2() {
        let checkbox1 = document.querySelector('#checkbox1');
        let checkbox2 = document.querySelector('#checkbox2');
        let checkbox3 = document.querySelector('#checkbox3');
        let data = document.querySelector('#data1');
        let rad = document.getElementsByName('r1');


        let scienint = document.querySelector('#scienint').value;
        console.log('scienint!!!!!!!!!!!',scienint)

        // БЛОКИ Очное/Заочно
        let oc = document.querySelector('#och');
        let zaoc = document.querySelector('#zaoch');
        let doc = document.querySelector('.vvv');
        let dzaoch = document.querySelector('.vvv2');


        oc.addEventListener('click', function () {
            console.log('Нажал на очное')
            if (doc.style.display == 'none') {
                doc.style.display = 'block'
                dzaoch.style.display = 'none'
            } else {

            }
        });

        zaoc.addEventListener('click', function () {
            console.log('Нажал на ЗАочное')
            if (dzaoch.style.display == 'none') {
                dzaoch.style.display = 'block'
                doc.style.display = 'none'
            } else {

            }
        });

        var form = document.getElementById('btn15');
        let file = document.getElementById("xxx");
        let hiden = document.getElementById("btn15");
        // console.log('КНОПКА!!!!ИМЯ', hiden.name)
        // console.log('КНОПКА!!!!VALUE', hiden.value)

        const btn = {
            name: hiden.name,
            value: hiden.value
        }

        const thesisType = 1;

        // console.log("ИНФА кнопки", btn)

        //////////ОТПРАВКА ТЕЗИСА//////////
        form.onclick = function () {
            for (let i = 0; i < rad.length; i++) {
                if (rad[i].checked) {
                    console.log("Выбран чекбокс" + i)
                    var xxx = i;
                } else {

                }
            }

            let ch1 = checkbox1.checked;
            let ch2 = checkbox2.checked;
            let ch3 = checkbox3.checked;
            let date = data.value;

            // let scienint =

            var sendForm = new FormData();
            var fil = file.files[0];

            sendForm.append('file', fil);
            sendForm.append('ch1', ch1);
            sendForm.append('ch2', ch2);
            sendForm.append('ch3', ch3);
            sendForm.append('date', date);
            sendForm.append('trans', xxx);
            sendForm.append('send', btn.value);
            sendForm.append('thesisType', thesisType)
            sendForm.append('scienint', scienint)


            // console.log(date)

            p = new Promise((resolve, reject) => {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', 'f2.php');
                xhr.responseType = 'json';

                xhr.onload = () => {
                    if (xhr.status >= 400) {
                        reject(xhr.response)
                    } else {
                        resolve((xhr.response))
                    }
                    // console.log('Ответ с сервера' + xhr.response);
                }
                xhr.onerror = () => {
                    reject(xhr.response)
                }

                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4) {
                        var an = xhr.response;
                        if (an)
                        // let res = JSON.parse(an);
                            var res = an.list;
                        // console.log('ОТВЕТТТТТТ!!!!', an.list);
                    }
                };
                xhr.send(sendForm);
            })

            //////////Вывод на страницу//////////
            p.then(data => {
                console.log('ОТВЕТ PROMISE');
                let result = data;
                console.log('Объект', result.list);

                let el = document.getElementById('info');

                // console.log(el)
                if (typeof el.textContent !== "undefined") {
                    // console.log(result.list[0].username);
                    for (let key in result.list) {
                        let archiveP = document.createElement('p');
                        let archiveA = document.createElement('a');

                        if (result.list.hasOwnProperty(key)) {
                            // console.log("Ключ = " + key);
                            archiveP.innerHTML = 'ID: ' + ' ' + result.list[key].thesis_id
                                + 'АВТОР: ' + ' ' + result.list[key].username
                                + 'ТЕКСТ: ' + ' ' + result.list[key].thesistext
                                + 'ДАТА: ' + ' ' + result.list[key].dateapp;
                            // +'FILE: '+' '+result.list[key].file_path;

                            archiveA.setAttribute('href', './src/php/download.php?filePath=' + result.list[key].file_path)
                            archiveA.innerText = "скачать" + " " + result.list[key].file_path;
                            console.log(archiveA);


                            el.append(archiveP);
                            el.append(archiveA);
                            // console.log('ССЫЛКА',archiveA.getAttribute('href'));
                            // el.append(archiveA);
                            // el.textContent= ("Значение = " + result.list[key].username);
                        }
                    }
                } else {
                    el.innerText = data.list;
                }
                el.innetHTML = data.list


            })
            p.catch(err => console.log(err))

            window.location = "http://belils.ru/personalArea.php";
        };
    }

    send2();
</script>