<div class="thesis__row">
    <div class="thesis__info">
        <ul>
            <li><b>Дата заезда:</b> #date#</li>
            <li><b>Область научных интересов:</b> #scienint#</li>
            <li><b>Форма участия:</b> #form#</li>
        </ul>
    </div>
    <div class="thesisi__btn">
        <div class="thesisi__dowland">
            <button type="button" class=" col-md-12 btnNew" onclick="document.location='#linkDownload#'">Скачать</button>
        </div>
        <div class="thesisi__delete">
            <button type="button" class=" col-md-12 btnNew" onclick="document.location='#linkReject#'">Отозвать</button>
        </div>
    </div>
</div>